body
{
    font-family:'Special Elite',cursive;
    background:magenta;
}
.header_div
{
    background:whitesmoke;
    color:tomato;
}
.header_div p{
    font-family:'Roboto',sans-serif;
    color:thistle;
    letter-spacing:2px;
    font-size:12px;
    font-weight:bold;
}
.main_div button{
    font-family:'Roboto',sans-serif;
    margin-top:30px;
    font-weight:bolder;
    letter-spacing:3px;
}
.copy_right_footer {
    position:fixed;
    color:violet;
    bottom:0;
    width:100%;
    font-size:18px;
    background-color:wheat;
    line-height:3;
    text-align:center;
    text-shadow:5px 5px 5px pink;
}